extend layout
block content
  
  #fullpage.welcome-page-wrapper
    .section.welcome-page
      h2.u-title
        | Ищите игроков 
        br
        | По скиллам 
    
    
    
    .section Two
    .section Three
    .section Four
